.bg-dark{
    background-color: black !important;
}
.navbar-dark .navbar-nav .nav-link {
    color: white;
  }
.nav-link:hover, .active{
    color:rgba(240, 248, 255, 0.795) !important;
}
/* Reduce padding to shrink navbar height */
.navbar {
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
  }
.body{
    background-image: url('assets/background.png');
    background-size: cover;
    background-repeat: no-repeat;
    font-family:'Roboto';
}

.fs-2{
    font-size: 1.2rem !important;
}
.bg-cus{
    background-color: #f8f9fa91 !important;
    opacity:0.9;
}
.skill-card {
    transition: all 0.4s ease;
    border: 2px solid transparent;
    border-radius: 1rem;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  }
  
  .skill-card:hover {
    border-radius: 50% !important;
    transform: scale(1.05);
    box-shadow: 10px 10px 20px rgba(255, 255, 255, 0.6),-10px -10px 20px rgba(255, 255, 255, 0.6);
  }
  
  /* Border color matching progress bar */
  .border-danger:hover {
    border-color: #dc3545 !important;
  }
  .border-primary:hover {
    border-color: #0d6efd !important;
  }
  .border-warning:hover {
    border-color: #ffc107 !important;
  }
  .border-info:hover {
    border-color: #0dcaf0 !important;
  }
  .border-success:hover {
    border-color: #198754 !important;
  }
  .border-dark:hover {
    border-color: #343a40 !important;
  }
  .border-black:hover {
    border-color: black !important;
  }
  
.form{
    border-color:rgb(0, 68, 255) !important;
    box-shadow: 3px 3px rgb(0, 68, 255) ,-3px -3px rgb(0, 68, 255)!important;
}